body{
    height: 100vh;
    background: rgb(0,29,36); 
    background: linear-gradient(43deg, rgba(0,29,36,1) 0%, rgba(0,212,255,1) 100%);
}

.titulo-principal{
    font-weight: 700;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.conteudo-senha{
    text-align: center;
    margin-top: 80px;
}

.parametro{
    
}